

/* Color Notes */
/* Ultra Violet color #8900e1 */
/* NYU Violet color #57068c */



html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Use border-box model for consistent sizing */
    font-family: 'Open Sans', sans-serif; /* Use a sans-serif font for better readability */
    font-size: 18px; /* Set base font size */
    font-weight: 400; /* Normal weight for body text */
    line-height: 1.75; /* Set line height for better readability */
    background-color: white; /* Light grey background for the body */
    color: #333; /* Dark grey text color */
    min-height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

/* General Page Styling */
body {
    display: flex;
    flex-direction: column; /* Use flexbox to structure the layout */
}

h1, h2, h3 {
    text-align: center;
}

main {
    text-align: left; /* Align text to the left */
    flex: 1; /* Allow the main content to grow and take up available space */
}





/* ------------------------------- */
/* Responsive Topnav with Dropdown */
/* ------------------------------- */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #57068c; /* NYU Violet background */
    display:flow-root;
    position: sticky; /* Sticky/fixed navbar */
    width: auto;
    top: 0; /* At the top */
    z-index: 99;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 0.9em;
}

/* Add an active class to highlight the current page */
/* .active {
    background-color: #8900e1;
    color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
    font-size: 0.9em;
    line-height: 1.75; /* Set line height for better readability */
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%; /* place directly below the dropdown button by default */
    left: 0;
    background-color: #eee5ff; /* Light purple background */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    float: none;
    color: #57068c; /* Purple text color */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #8900e1; /* Ultra Violet color */
    color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    color: #57068c; /* Purple text color */
    background-color: #eeccff; /* Darker shade on hover */
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
        display: none;
    }
    
    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: sticky;}

    .topnav.responsive a.icon {
        position: fixed;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {float: none;}

    /* On small screens let dropdown content flow in the document (so it doesn't float oddly on some mobile browsers) */
    .topnav.responsive .dropdown-content {position: relative;}

    .topnav.responsive .dropdown-content a {
        padding-left: 28px; /* indent links so they align visually with other menu items */
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

/* When we toggle the dropdown via JS on small screens we add the 'open' class to the .dropdown */
.topnav.responsive .dropdown.open .dropdown-content {
    display: block;
}





/* Profile */
.profile-container {
    width: 88dvw; /* Set a fixed width for the profile section */
    max-width: 888px; /* Set a maximum width for larger screens */
    display: flex;
    justify-content: center; /* Center the profile section */
    align-items: center; /* Center vertically */
    margin: 1em auto 1em; /* Center the profile section */
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}
.profile-image {
    border-radius: 50%; /* Make the image circular */
    width: 150px; /* Set a fixed width for the image */
    height: 150px; /* Set a fixed height for the image */
    margin: 0; /* Remove default margin */
}
.profile-text {
    margin: 0.5em 0;
    padding: 0 1em; /* Add padding to paragraphs for better spacing */
    font-size: 1.1em; /* Slightly larger font size for better readability */
    text-align: left; /* Align text to the left */
}



/* Bio */
.bio-container {
    width: 88dvw; /* Set a fixed width for the resume section */
    max-width: 888px; /* Set a maximum width for larger screens */
    display: flex;
    justify-content: center; /* Center the bio section */
    align-items: center; /* Center vertically */
    text-align: left; /* Align text to the left */
    margin: 0 auto 3em; /* Center the bio section */
    padding: 0; /* Remove default padding */
    flex-direction: column; /* Align items in a column */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}
.bio-link {
    text-decoration: none; /* Remove underline from links */
    color: #57068c; /* NYU Violet color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}
.bio-link:hover {
    color: #300051; /* Darker shade on hover */
    text-decoration: underline; /* Underline on hover */
}
.bio-link:active {
    color: #300051; /* Darker shade on click */
    text-decoration: underline; /* Underline on click */
}
.bio-link:focus {
    color: #300051; /* Darker shade on focus */
    text-decoration: underline; /* Underline on focus */
}
.bio-link:visited {
    color: #300051; /* Change color for visited links */
}
.bio-icon {
    height: 18px; /* Set a fixed height for the icons */
    margin-right: 0.2em; /* Add space between the icon and text */
    margin-bottom: -0.1em; /* Adjust bottom margin for better alignment */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}



/* Resume Section */
.resume-iframe {
    display: flex;
    width: 80dvw; /* Set a fixed width for the resume section */
    max-width: 7.9in; /* Set a maximum width for larger screens */
    height: 66dvh; /* Maintain aspect ratio */
    max-height: 1000px; /* Set a maximum height for larger screens */
    justify-content: center; /* Center the resume section */
    align-items: center; /* Center vertically */
    margin: 0 auto 4em; /* Center the resume section */
    padding: 1em; /* Add padding for spacing */
    background-color: #f2eefa; /* Light purple background */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 3px 9px #eee5ff; /* Shadow effect */
    overflow: auto; /* Enable scrolling if content overflows */
}



/* Photos Section */
.pics-container {
    justify-content: center; /* Center the photo section */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Align items in a column */
    margin: 0 auto 4em; /* Center the photo section */
    width: 88dvw; /* Set a fixed width for the photo section */
    max-width: 8.3in; /* Set a maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 3px 9px #eee5ff; /* Shadow effect */
    overflow: hidden; /* Hide overflow to maintain clean edges */
}
.pics-row {
    display: flex;
    justify-content: center; /* Center the photo row */
    align-items: center; /* Center vertically */
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    width: 100%; /* Make the row take up the full width of its container */
}
.pics-row:after {
    content: ""; /* Clearfix */
    display: table;
    clear: both;
}



/* Contact Section */
.contact-container {
    display: flex;
    text-align: center; /* Center the contact section */
    justify-content: center; /* Center the contact links */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Align items in a column */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    background-color: #f2eefa; /* Light purple background */
    margin: 4em auto 2.5em; /* Center the contact section */
    padding: 1em; /* Add padding for spacing */
    width: 80dvw; /* Set a fixed width for the contact section */
    max-width: 7.9in; /* Set a maximum width for larger screens */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 3px 9px #eee5ff; /* Shadow effect */
}
.contact-header {
    margin-top: 0em; /* Remove space above the header */
    margin-bottom: 0.5em; /* Add space below the header */
}
.contact-links {
    display: flex;
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: center; /* Center the contact links */
}
.contact-link {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    text-decoration: none; /* Remove underline from links */
    justify-content: center; /* Center the contact links */
    align-items: center; /* Center vertically */
    color: #57068c; /* Purple text color */
    background-color: #eee5ff; /* Light purple background */
    margin: 0.5em; /* Add margin for spacing */
    padding: 0.1em 0.6em; /* Add padding for better spacing */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.contact-link:hover {
    background-color: #eeccff; /* Darker shade on hover */
    box-shadow: 0 0 5px #8e44ad; /* Shadow effect on hover */
    transform: translateY(-2px); /* Slightly move up on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.contact-link:active {
    background-color: #eeccff; /* Darker shade on click */
    box-shadow: 0 0 5px #8e44ad; /* Shadow effect on click */
    transform: translateY(1px); /* Slightly move down on click */
    transition: transform 0.1s ease; /* Smooth transition for click effect */
}
.contact-link:focus {
    background-color: #eee5ff; /* Light purple background on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px #8e44ad;
    transform: translateY(1px); /* Slightly move down on focus */
    transition: transform 0.1s ease; /* Smooth transition for click effect */
}
.contact-link:visited {
    color: #300051; /* Change color for visited links */
}
.contact-icons {
    height: 18px; /* Set a fixed height for the icons */
    margin-right: 0.23em; /* Add space between the icon and text */
}



/* Contact Section Hypercube logo */
.hypercube-container {
    position: relative; /* Allows for absolute positioning of child elements */
    width: 150px; /* Set a fixed width for the image */
    height: 150px; /* Set a fixed height for the image */
    margin: 0 2em 1em; /* Center the container */
    padding: 0; /* Disable padding */
    display: block; /* Ensure the container is a block element */
}
.hypercube-img {
    position: absolute; /* Ensures the image is positioned relative to the container */
    top: 50%; /* Center the image vertically */
    left: 50%; /* Center the image horizontally */
    transform: translate(-50%, -50%); /* Center the image */
    width: 150px; /* Set a fixed width for the image */
    height: auto;
    z-index: 0; /* Ensures the image is behind the GIF */
    display: block; /* Ensure the image is a block element */
}
.hypercube-gif {
    position: absolute; /* Allows for absolute positioning of the GIF */
    top: 20.3%; /* Center the GIF vertically */
    left: -2.5%; /* Center the GIF horizontally */
    transform: rotate(45deg); /* Rotate it */
    width: 88%; /* Set width to 88% of the container */
    height: auto; /* Set height to auto */
    background-repeat: no-repeat; /* Prevents the GIF from repeating */
    background-size: cover; /* Ensures the GIF covers the entire container */
    z-index: 1; /* Brings the GIF in front of the image */
}




/* Footer Styling */
footer {
    bottom: 0; /* Align to the bottom */
    left: 0;
    right: 0;
    text-align: center;
    background-color: #57068c; /* NYU Violet background */
    z-index: 100; /* Ensures it stays on top of other content */
}
footer p {
    margin: 0; /* Remove default margin */
    padding: auto;
    color: white; /* White text color */
    font-size: 0.9em;
}


/* For testing */
/* *{outline: 0.5px solid red;} */