html, body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Use border-box model for consistent sizing */
    font-family: 'Open Sans', sans-serif; /* Use a sans-serif font for better readability */
    font-size: 18px; /* Set base font size */
    font-weight: 400; /* Normal weight for body text */
    line-height: 1.75; /* Set line height for better readability */
    background-color: white; /* Light grey background for the body */
    color: #333; /* Dark grey text color */
}

/* General Page Styling */
body {
    display: flex;
    flex-direction: column; /* Use flexbox to structure the layout */
}

h1, h2, h3 {
    text-align: center;
}

/* Header Styles */
header {
    position: sticky; /* Sticky positioning */
    top: 0; /* Align to the top */
    left: 0;
    right: 0;
    width: 100dvw; /* Set width to 100% of the viewport */
    text-align: center;
    background-color: #57068c; /* NYU Violet background */
    color: white;
    z-index: 100; /* Ensures it stays on top of other content */
}
.header-text {
    font-size: 1.5em; /* Larger font size for the header */
    font-weight: bold; /* Bold weight for the header */
    margin: 0; /* Remove default margin */
    padding: 0.1em 0; /* Add padding for better spacing */
}

main {
    text-align: left; /* Align text to the left */
    flex: 1; /* Allow the main content to grow and take up available space */
}


/* Profile */
.profile {
    width: 88dvw; /* Set a fixed width for the resume section */
    max-width: 888px; /* Set a maximum width for larger screens */
    display: flex;
    justify-content: center; /* Center the profile section */
    align-items: center; /* Center vertically */
    margin: 1em auto 1em; /* Center the profile section */
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}
.profile-image {
    border-radius: 50%; /* Make the image circular */
    width: 150px; /* Set a fixed width for the image */
    height: 150px; /* Set a fixed height for the image */
    margin: 0 1em; /* Add space between the image and text */
}
.profile-text {
    margin: 0.5em 0;
    padding: 0 1em; /* Add padding to paragraphs for better spacing */
    font-size: 1.1em; /* Slightly larger font size for better readability */
    text-align: left; /* Align text to the left */
}

/* Bio */
.bio {
    width: 88dvw; /* Set a fixed width for the resume section */
    max-width: 888px; /* Set a maximum width for larger screens */
    display: flex;
    justify-content: center; /* Center the bio section */
    align-items: center; /* Center vertically */
    text-align: left; /* Align text to the left */
    margin: 0 auto 4em; /* Center the bio section */
    padding: 0 1.6em; /* Add padding to paragraphs for better spacing */
    flex-direction: column; /* Align items in a column */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}
.bio-link {
    text-decoration: none; /* Remove underline from links */
    color: #57068c; /* NYU Violet color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}
.bio-link:hover {
    color: #300051; /* Darker shade on hover */
    text-decoration: underline; /* Underline on hover */
}
.bio-link:active {
    color: #300051; /* Darker shade on click */
    text-decoration: underline; /* Underline on click */
}
.bio-link:focus {
    color: #300051; /* Darker shade on focus */
    text-decoration: underline; /* Underline on focus */
}
.bio-link:visited {
    color: #300051; /* Change color for visited links */
}
.bio-icon {
    height: 18px; /* Set a fixed height for the icons */
    margin-right: 0.2em; /* Add space between the icon and text */
    margin-bottom: -0.1em; /* Adjust bottom margin for better alignment */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}



/* Resume Section */
.img-container {
    width: 88dvw; /* Set a fixed width for the resume section */
    max-width: 888px; /* Set a maximum width for larger screens */
    height: 70dvh; /* Maintain aspect ratio */
    max-height: 1000px; /* Set a maximum height for larger screens */
    justify-content: center; /* Center the resume section */
    align-items: center; /* Center vertically */
    margin: 0 auto 4em; /* Center the resume section */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 3px 9px #eee5ff; /* Shadow effect */
    overflow: auto; /* Enable scrolling if content overflows */
}

.img-container img {
    width: 100%; /* Make the image take up the full width of its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline spacing */
    border-radius: 5px; /* Rounded corners */
    object-fit: cover; /* Ensure the image covers the container without distortion */
}


/* Photos Section */
.photos {
    display: flex;
    justify-content: center; /* Center the photo section */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Align items in a column */
    margin: 0 auto 4em; /* Center the photo section */
    width: 88dvw; /* Set a fixed width for the photo section */
    height: auto; /* Maintain aspect ratio */
    max-width: 888px; /* Set a maximum width for larger screens */
    box-shadow: 2px 3px 9px #eee5ff; /* Shadow effect */
}
.photos-row {
    display: flex;
    justify-content: center; /* Center the photo row */
    align-items: center; /* Center vertically */
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    width: 100%; /* Make the row take up the full width of its container */
}
.photos-row:after {
    content: ""; /* Clearfix */
    display: table;
    clear: both;
}


/* Contact Section */
.contact {
    display: flex;
    text-align: center; /* Center the contact section */
    justify-content: center; /* Center the contact links */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Align items in a column */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    background-color: #f2eefa; /* Light purple background */
    margin: 4em auto 2.5em; /* Center the contact section */
    padding: 1em; /* Add padding for spacing */
    width: 70dvw; /* Set a fixed width for the contact section */
    max-width: 780px; /* Set a maximum width for larger screens */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 2px 3px 9px #eee5ff; /* Shadow effect */
}
.contact-header {
    margin-top: 0em; /* Remove space above the header */
    margin-bottom: 0.5em; /* Add space below the header */
}
.hypercube-img {
    width: 150px; /* Set a fixed width for the image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto 1em; /* Center the image */
    display: block; /* Make the image a block element */
}
.contact-links {
    display: flex;
    flex-direction: row; /* Align items in a row */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    justify-content: center; /* Center the contact links */
}
.contact-link {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
    text-decoration: none; /* Remove underline from links */
    justify-content: center; /* Center the contact links */
    align-items: center; /* Center vertically */
    color: #57068c; /* Black text color */
    background-color: #eee5ff; /* Light purple background */
    margin: 0.5em; /* Add margin for spacing */
    padding: 0.1em 0.6em; /* Add padding for better spacing */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}
.contact-link:hover {
    background-color: #eeccff; /* Darker shade on hover */
    box-shadow: 0 0 5px #8e44ad; /* Shadow effect on hover */
    transform: translateY(-2px); /* Slightly move up on hover */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}
.contact-link:active {
    background-color: #eeccff; /* Darker shade on click */
    box-shadow: 0 0 5px #8e44ad; /* Shadow effect on click */
    transform: translateY(1px); /* Slightly move down on click */
    transition: transform 0.1s ease; /* Smooth transition for click effect */
}
.contact-link:focus {
    background-color: #eee5ff; /* Light purple background on focus */
    outline: none; /* Remove default outline */
    box-shadow: 0 0 5px #8e44ad;
    transform: translateY(1px); /* Slightly move down on focus */
    transition: transform 0.1s ease; /* Smooth transition for click effect */
}
.contact-link:visited {
    color: #300051; /* Change color for visited links */
}
.contact-icons {
    height: 18px; /* Set a fixed height for the icons */
    margin-right: 0.23em; /* Add space between the icon and text */
}


/* Footer Styling */
footer {
    bottom: 0; /* Align to the bottom */
    left: 0;
    right: 0;
    width: 100dvw;
    text-align: center;
    background-color: #57068c; /* NYU Violet background */
}
.footer-text {
    margin: 0; /* Remove default margin */
    padding: 0.4em;
    font-size: 0.9em;
    color: white;
}